*{
    font-family: 'Poppins', sans-serif;
    color: #EFEFEF;
}

h1{
  font-size: 4rem;
  font-weight: 700;
}

.azulito{
    color: #5C85F7;
  }

/* Seccion Nav y Header */

.navbar{
    background: rgb(34,34,34);
    background-color: transparent !important;
    transition: all 0.5s;
    opacity: 0;
    display: block;
    visibility: hidden;
}

.navbar-scrolled{
    background: rgb(34,34,34);
    background: linear-gradient(248deg, rgba(34,34,34,1) 0%, rgba(52,52,140,1) 100%);
    visibility: visible;
    opacity: 1;
}

.offcanvas{
    background: rgb(34,34,34);
    background: linear-gradient(248deg, rgba(34,34,34,1) 0%, rgba(52,52,140,1) 100%);
}

header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
  
header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
  
header .container {
    position: relative;
    z-index: 2;
}
  
header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

/* Seccion Carousel texto */


.la-primera {
    background: rgb(22,22,35);
    background: linear-gradient(248deg, rgba(22,22,35,1) 0%, rgba(34,34,34,1) 100%);
}

.h2-liberamos {
    font-size: 3rem;
    font-weight: 700;
    padding: 1rem;
}

/* Sección video Metodología - el tamaño máximo de nuestra imagen corresponderá al a de su elemento padre que sería la web*/
.video-metodologia{
    width: 100%;
    max-width: 1200px ;
    padding: 10px;
}


/*Seccion Number Counting */

.section-number-counting {
    min-height: 450px;
    background: rgb(22,73,255);
    background: linear-gradient(248deg, rgba(22,73,255,1) 0%, rgba(39,69,150,1) 100%);

}

.num{
    font-size: 5em;
    font-weight: 700;
}

.p-number-counting{
    font-size: 1.5em;
    color: rgb(197, 197, 197);
}

/* Seccion Nuestras Estudiantes */

#carouselExample{
    padding: 50px;
    min-height: 450px;
}

#myCarousel{
    padding: 50px;
    min-height: 450px;
    background: url('galeria/website-hero-mobile.png') black center center scroll;
}

.video-estudiantes{
    width: 100%;
    max-width: 800px ;
}

h5{
    font-size: 1.5rem;
    font-weight: 700;
    color: #161623;
}

.fas{
    color: grey;
}


/* Carousel base class */

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-texto {
  height: 32rem;
}

h2{
    font-size: 3rem;
    font-weight: 700;
    color: #5C85F7;
}
  













































/* Media Query for devices withi coarse pointers and no hover functionality */
  
/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
  
@media (pointer: coarse) and (hover: none) {
    header {
      background: url('galeria/website-hero-mobile.png') black no-repeat center center scroll;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
  
    header video {
      display: none;
    }
  }



@media screen and (max-width: 1130px){

    .video-estudiantes{
        width: 100%;
        max-width: 600px;
    }

    .p-number-counting{
        font-size: 1.3em;
    }  



}


@media screen and (max-width: 1006px){

    .p-number-counting{
        font-size: 0.9em;
    }

    .num{
        font-size: 3em;
    }



}

@media screen and (max-width: 860px){

    .video-estudiantes{
        width: 100%;
        max-width: 500px;
    }

    .p-number-counting{
        font-size: 0.9em;
    }

    .num{
        font-size: 3em;
    }

}

@media screen and (max-width: 767px){
    .container-number{
        padding: 20px;
    }

    .col-md-4{
        margin: 10px;
    }


}



@media screen and (max-width: 750px){
    
    h1{
        font-size: 3rem;
      }

}

@media screen and (max-width: 710px){

    .video-estudiantes{
        width: 100%;
        max-width: 350px;
    }

    .num{
        font-size: 5em;
        font-weight: 700;
    }
    
    .p-number-counting{
        font-size: 1.5em;
    }
}

